*.fig
/matlab code/uniform unit square/results
/matlab code/uniform unit circle/results
/matlab code/gaussian single/results
/matlab code/gaussian 2c/results
/matlab code/kn datasets/results
/matlab code/dataset variations/results
/3080 project
*.png