*.fig
/matlab code/uniform unit square/results
/matlab code/uniform unit circle/results
/matlab code/gaussian 1c/results
/matlab code/gaussian 2c/results
/matlab code/gaussian 3c/results
/matlab code/kn datasets/results
/matlab code/dataset variations/results
/matlab code/kn mu UUC/results

/3080 project
*.png